p {
    background-color: crimson;
}

#test {
    background-color: #32CD32;
}

.text {
background-color: green;

}

.text {
    background-color: olivedrab;
    font-size : 34px;
    font-family: Arial, sans-serif;
    font-weight: 900;
    width: 50%;
    height: 200px;
    border-color : deeppink;
    border-style: solid;
    border-weight: 10px;
    border-radius: 20px;
}

